.container {
    min-width: 992px;
}

.session-info {
    margin-bottom: 2em;
}

.operations > .row {
    margin-bottom: .5em;
}

body {
    font-family: 'PT Sans', sans-serif;
}

/* */

.display {
    background-color: white !important;
    border-radius: 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    height: 60px;
    padding: 15px;
    width: 300px;
}

.display:focus,
.display:active {
    border-color: initial;
    box-shadow: none;
}

/* */

.keyboard {
    margin: -7px -3px;
}

.keyboard-row {
    white-space: nowrap;
    margin: 7px 0;
}

.keyboard-row > .btn {
    width: 60px;
    height: 60px;
    margin: 0 3px;
}

/* */

ul.errorlist {
    list-style-type: none !important;
    padding: 0 !important;
}