{% extends 'base.html' %}

{% block content %}
<h2>Баланс</h2>

<div class="row ">
	<div class="col text-center"></div>
</div>
<div class="row">
	<div class="col col-6">Карта:</div>
	<div class="col col-6">{{ user.card_number }}</div>
</div>
<div class="row">
	<div class="col col-6">Дата:</div>
	<div class="col col-6">{% now "Y.m.d" %}</div>
</div>
<div class="row">
	<div class="col col-6">Текущий баланс:</div>
	<div class="col col-6">{{ user.balance }}</div>
</div>


<form class="col p-0" action="{% url 'logout' %}" method="POST">
  {% csrf_token %}
	<div class="row">
		<input class="col w-50 text-center border btn btn-lg btn-default bg-light m-1" type="button" value="Назад" onclick="window.location.replace('{% url 'operations' %}')">
    <input class="col w-50 text-center border btn btn-lg btn-default bg-light m-1" type="submit" value="Выход">
	</div>
</form>

{% endblock content %}
