{% extends 'base.html' %}

{% block content %}
{% comment %}<form id="step_one" class="form-horizontal" action="/" method="get">
    <div class="row">
        <div class="col col-md-3">
            <input type="text" class="form-control" id="card_number" placeholder="insert your card number" required="">
        </div>
        <div class="col col-md-1" style="padding: 0; margin: 0; width: auto;">
            <button class="btn btn-primary" type="submit">ОК</button>
        </div>
        <div class="col col-md-1">
            <button class="btn btn-primary" onclick="$('#card_number').val('')">Очистить</button> тут надо ф-ция очистки длинны
        </div>
    </div>
</form>{% endcomment %}


{#    <div class="numpad">#}
{#        <div class="numpad-row">#}
{#            <input class="btn btn-lg btn-default" type="button" value="1" onclick="input(this);">    #}

<form id="form_login" class="form-horizontal" action="/" method="post" data-view="{{ step }}">
	{% csrf_token %}
	{{ form }}
	<input type="hidden" name="step" value="{{ step }}">

	<div class="col col-4 offset-4 justify-content-md-center">
		<div class="row">
			{% if errors %}<div class="col alert alert-danger text-center" role="alert">{{ errors|safe }}</div> {% endif %}
		</div>

		<div class="row">
			{% comment %}{% if step == 'first' %}{% endcomment %}
			<input class="form-control m-bt-md text-center" id="display" placeholder="Введите номер карты" required readonly>
			{% comment %}{% elif step == 'second' %}
			<input class="form-control m-bt-md text-center" id="display" placeholder="Введите пин-код" required readonly>
			{% endif %}{% endcomment %}
		</div>
    <div class="row">
      <input class="col w-25 text-center border btn btn-lg btn-default bg-light m-1" type="button" value="1" onclick="push_button(this)">
      <input class="col w-25 text-center border btn btn-lg btn-default bg-light m-1" type="button" value="2" onclick="push_button(this)">
      <input class="col w-25 text-center border btn btn-lg btn-default bg-light m-1" type="button" value="3" onclick="push_button(this)">
    </div>
    <div class="row">
      <input class="col w-25 text-center border btn btn-lg btn-default bg-light m-1" type="button" value="4" onclick="push_button(this)">
      <input class="col w-25 text-center border btn btn-lg btn-default bg-light m-1" type="button" value="5" onclick="push_button(this)">
      <input class="col w-25 text-center border btn btn-lg btn-default bg-light m-1" type="button" value="6" onclick="push_button(this)">
    </div>
    <div class="row">
      <input class="col w-25 text-center border btn btn-lg btn-default bg-light m-1" type="button" value="7" onclick="push_button(this)">
      <input class="col w-25 text-center border btn btn-lg btn-default bg-light m-1" type="button" value="8" onclick="push_button(this)">
      <input class="col w-25 text-center border btn btn-lg btn-default bg-light m-1" type="button" value="9" onclick="push_button(this)">
    </div>
    <div class="row">
	    <input class="col w-25  text-center border btn btn-lg btn-default bg-light m-1" type="button" value="Очистить" onclick="$('#display').val('')">
	    <input class="col w-25  text-center border btn btn-lg btn-default bg-light m-1" type="button" value="0" onclick="push_button(this)">
	    <input class="col w-25  text-center border btn btn-lg btn-default bg-light m-1" type="submit" value="OK">
    </div>
		<div class="row">
			{% if step == 'second' %}
			<input class="col w-25 text-center border btn btn-lg btn-default bg-light m-1" type="button" value="Выход" onclick="window.location.replace('/')">
			{% endif %}
		</div>
  </div>
</form>

<script type="text/javascript">
function push_button(button) {
	console.log('pushed');
  var display = document.getElementById("display");
  var len = display.value.length;
  var card_number_id = document.getElementById("card_number_id");
  var card_pin_id = document.getElementById("card_pin_id");
	var form = $("#form_login").data("view");

  if (form == "first" && len <= 18) {
    display.value += button.value;
    card_number_id.value += button.value;
    origLen = display.value.replace(/-/g, '').length;
    if (origLen % 4 == 0 && Math.floor(origLen / 4) <= 3) {
      display.value += '-'
    }
  } else if (form == "second" && len < 4) {
    display.value += '*';
    card_pin_id.value += button.value;
  }

}

$( document ).ready(function() {

    var $card_number_input = $('#card_number');
    var card_nubmer = '';
    var card_number_length = 0;
    var current_letter;

    if ($card_number_input.length){
//        $card_number_input.keypress(function(event){
//            console.log(event)
//            if(event.which != 8 && isNaN(String.fromCharCode(event.which))){
//                event.preventDefault(); //stop character from entering input
//            } else {
//                if ($card_number_input.val()[$card_number_input.val().length -1] != '-') card_number_length += 1;
//            }
//        });



        $card_number_input.keyup(function (event) {
            current_letter = parseInt($card_number_input.val().substring($card_number_input.val().length - 1, $card_number_input.val().length));

            console.log(current_letter, typeof current_letter);

{% comment %}            if (typeof current_letter == 'number') {
                console.log(card_nubmer, current_letter)
                card_nubmer += current_letter;
                console.log('card number:' + card_nubmer)

                $card_number_input.val(card_nubmer);
                card_number_length += 1;
            } else {
                current_letter = '';
            }{% endcomment %}

            {#console.log(current_letter);#}
            {#console.log($card_number_input.val().replace(/\-/g, ''));#}



           {% comment %} if (card_number_length >= 16) {
                $card_number_input.attr({"disabled": "disabled"});
            }{% endcomment %}

            {% comment %}if (card_number_length > 0 && card_number_length % 4 === 0 && card_number_length !== 16 && $card_number_input.val()[$card_number_input.val().length -1] !== '-') {
                $card_number_input.val($card_number_input.val() + '-');
            }{% endcomment %}
        });
    }

});
</script>



{#<div class="m-bt-lg text-center">#}
{#    <input name="display" id="display" class="display m-bt-md" placeholder="your card number" readonly />#}
{#    <div class="keyboard">#}
{#        <div class="keyboard-row">#}
{#            <input class="btn btn-lg btn-default" type="button" value="1" onclick="input(this);">#}
{#            <input class="btn btn-lg btn-default" type="button" value="2" onclick="input(this);">#}
{#            <input class="btn btn-lg btn-default" type="button" value="3" onclick="input(this);">#}
{#        </div>#}
{#        <div class="keyboard-row">#}
{#            <input class="btn btn-lg btn-default" type="button" value="4" onclick="input(this);">#}
{#            <input class="btn btn-lg btn-default" type="button" value="5" onclick="input(this);">#}
{#            <input class="btn btn-lg btn-default" type="button" value="6" onclick="input(this);">#}
{#        </div>#}
{#        <div class="keyboard-row">#}
{#            <input class="btn btn-lg btn-default" type="button" value="7" onclick="input(this);">#}
{#            <input class="btn btn-lg btn-default" type="button" value="8" onclick="input(this);">#}
{#            <input class="btn btn-lg btn-default" type="button" value="9" onclick="input(this);">#}
{#        </div>#}
{#        <div class="keyboard-row">#}
{#            <input class="btn btn-lg btn-default" type="button" value="C" title="Cancel" onclick="$('#number').val('')">#}
{#            <input class="btn btn-lg btn-default" type="button" value="0" onclick="input(this);">#}
{#            <input class="btn btn-lg btn-default" type="submit" value="&crarr;" title="Submit">#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{% endblock %}