<form id="form" class="form-horizontal" method="post" data-view="{{ step }}">
	{% csrf_token %}
	{{ form }}

	<input type="hidden" name="step" value="{{ step }}">

		<div class="row">
			{% if step == 'first' %}
			<input class="form-control m-bt-md text-center" id="display" placeholder="Введите номер карты" required readonly>
			{% elif step == 'second' %}
			<input class="form-control m-bt-md text-center" id="display" placeholder="Введите пин-код" required readonly>
			{% elif step == 'withdraw' %}
			<input class="form-control m-bt-md text-center" id="display" placeholder="Введите сумму" required readonly>
			{% endif %}
		</div>
    <div class="row">
      <input class="col w-25 text-center border btn btn-lg btn-default bg-light m-1" type="button" value="1" onclick="push_button(this)">
      <input class="col w-25 text-center border btn btn-lg btn-default bg-light m-1" type="button" value="2" onclick="push_button(this)">
      <input class="col w-25 text-center border btn btn-lg btn-default bg-light m-1" type="button" value="3" onclick="push_button(this)">
    </div>
    <div class="row">
      <input class="col w-25 text-center border btn btn-lg btn-default bg-light m-1" type="button" value="4" onclick="push_button(this)">
      <input class="col w-25 text-center border btn btn-lg btn-default bg-light m-1" type="button" value="5" onclick="push_button(this)">
      <input class="col w-25 text-center border btn btn-lg btn-default bg-light m-1" type="button" value="6" onclick="push_button(this)">
    </div>
    <div class="row">
      <input class="col w-25 text-center border btn btn-lg btn-default bg-light m-1" type="button" value="7" onclick="push_button(this)">
      <input class="col w-25 text-center border btn btn-lg btn-default bg-light m-1" type="button" value="8" onclick="push_button(this)">
      <input class="col w-25 text-center border btn btn-lg btn-default bg-light m-1" type="button" value="9" onclick="push_button(this)">
    </div>
    <div class="row">
	    <input class="col w-25  text-center border btn btn-lg btn-default bg-light m-1" type="button" value="Очистить" onclick="clear_display()">
	    <input class="col w-25  text-center border btn btn-lg btn-default bg-light m-1" type="button" value="0" onclick="push_button(this)">
	    <input class="col w-25  text-center border btn btn-lg btn-default bg-light m-1" type="submit" value="OK">
    </div>
		<div class="row">
			{% if step == 'second' %}
			<input class="col w-25 text-center border btn btn-lg btn-default bg-light m-1" type="button" value="Выход" onclick="window.location.replace('/')">
			{% endif %}
		</div>
</form>

<script type="text/javascript">
document.getElementById("card_pin_id").value = "";

function clear_display() {
	var form = $("#form").data("view");

	$('#display').val('');

	if (form == "first") { document.getElementById("card_number_id").value = ""; }
	else if (form == "second") { document.getElementById("card_pin_id").value = ""; }
	else if (form == "withdraw") { document.getElementById("amount_id").value = ""; }
}
function push_button(button) {
	console.log('pushed');
  var display = document.getElementById("display");
  var len = display.value.length;
  var card_number_id = document.getElementById("card_number_id");
  var card_pin_id = document.getElementById("card_pin_id");
	var form = $("#form").data("view");
	var amount = 0;
  var amount_id = document.getElementById("amount_id");

  if (form == "first" && len <= 18) {
    display.value += button.value;
    card_number_id.value += button.value;
    origLen = display.value.replace(/-/g, '').length;
    if (origLen % 4 == 0 && Math.floor(origLen / 4) <= 3) {
      display.value += '-'
    }
  } else if (form == "second" && len < 4) {
    display.value += '*';
    card_pin_id.value += button.value;
  } else if (form == "withdraw" ) {
			amount += parseInt(button.value);
		  display.value += button.value;
		  amount_id.value += button.value
  }

}
</script>
