{% extends 'base.html' %}

{% block content %}
<form class="col p-0" action="{% url 'logout' %}" method="POST">
  {% csrf_token %}

	<div class="row">
		<input class="col text-center border btn btn-lg btn-default bg-light m-1" type="button" value="Показать баланс" onclick="window.location.replace('{% url 'balance' %}')">
	</div>
	<div class="row">
		<input class="col text-center border btn btn-lg btn-default bg-light m-1" type="button" value="Снять деньги" onclick="window.location.replace('{% url 'withdraw' %}')">
	</div>
	<div class="row">
    <input class="col text-center border btn btn-lg btn-default bg-light m-1" type="submit" value="Выход">
	</div>
</form>


{% endblock content %}
