{% extends 'base.html' %}

{% block content %}

<h2>Транзакция</h2>

<div class="row ">
	<div class="col text-center"></div>
</div>
<div class="row">
	<div class="col col-6">Карта:</div>
	<div class="col col-6 text-right">{{ object.card.card_number }}</div>
</div>
<div class="row">
	<div class="col col-5">Дата:</div>
	<div class="col col-7 text-right">{{ object.date }}</div>
</div>
<div class="row">
	<div class="col col-6">Сумма:</div>
	<div class="col col-6 text-right">{{ object.amount }}</div>
</div>
<div class="row">
	<div class="col col-6">Текущий баланс:</div>
	<div class="col col-6 text-right">{{ object.card.balance }}</div>
</div>

<div class="row">
	<input class="col w-50 text-center border btn btn-lg btn-default bg-light m-1" type="button" value="Назад" onclick="window.location.replace('{% url 'operations' %}')">
  <input class="col w-50 text-center border btn btn-lg btn-default bg-light m-1" type="submit" value="Выход">
</div>

{% endblock content %}
