{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

{% include "keyboard.html" with step='withdraw' %}

<form class="col p-0" action="{% url 'logout' %}" method="POST">
  {% csrf_token %}
	<div class="row">
		<input class="col w-50 text-center border btn btn-lg btn-default bg-light m-1" type="button" value="Назад" onclick="window.location.replace('{% url 'operations' %}')">
    <input class="col w-50 text-center border btn btn-lg btn-default bg-light m-1" type="submit" value="Выход">
	</div>
</form>

{% endblock content %}


